/* Estilos generales */
/* Estilo para la sección de Inicio */
/* Estilo para centrar el contenido de la sección Inicio */

#inicio {
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: justify;
    text-align: center; /* Centra el texto */
   
}

h1, p {
    margin: 0;
    padding: 10px 0;
}

#inicio h1 {
    justify-content: justify;
    margin-bottom: 10px; /* Espacio entre el título y el subtítulo */
}

#inicio p {
    text-align: center;
    justify-content: center; 
    max-width: 1500px; /* Limita el ancho del párrafo para mejor legibilidad */
}

.tittle {
    text-align: center;
    margin-top: 10px; /* Puedes ajustar el margen superior según sea necesario */
    font-size: 2em; /* Ajusta el tamaño de la fuente si es necesario */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #012d3a;
    color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo img {
    
    width: 90px;
    height: 90px;
    object-fit: fill;
    margin-right: 20px;
    border-radius: 50%; /* Esto hace que la imagen tenga bordes redondeados como un círculo */
    }
   
    .footer {
        background-color: #012d3a; /* Color de fondo del footer */
        color: rgb(0, 0, 0); /* Color del texto */
        text-align: center; /* Centra el texto */
        padding: 40px 0 50px 0;/* Espaciado interno del footer */
        position: relative;
        width: 100%;
        bottom: 0;
        color: #ffffff;
        align-items: center;
        justify-content: center;
        margin-top: auto;
    }
    
    .footer .social-links {
        margin-bottom: 10px;
    }
    
    .footer .social-links a {
        margin: 10px;
        display: inline-flex;
    }
    
    .footer .social-links img {
        width: 35px; /* Ajusta el tamaño de los iconos */
        height: 35px;
        filter: invert(100%); /* Cambia el color del icono a blanco si es necesario */
    }


.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.hamburger-menu {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

main {
    padding: 10px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: #78d9e0;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(163, 0, 0);
    flex: 1;
    text-align: center;
}

/* Media Queries */
@media (max-width: 600px) {
    .hamburger-menu {
        display: block;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        text-align: right;
    }

    .navbar ul.show {
        display: flex;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        margin: 20px 0;
    }

    main {
        padding: 20px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .cards {
        flex-wrap: wrap;
    }

    .card {
        flex: 0 0 45%;
        margin: 10px 2.5%;
    }
}

@media (min-width: 1025px) {
    .cards {
        flex-wrap: wrap;
    }

    .card {
        flex: 0 0 30%;
        margin: 10px 1.5%;
    }
}